<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card card-stats">
        <div class="card-header card-header-default card-header-icon">
            <div class="card-icon">
                <img [src]="logo" class="img-responsive" style="max-height: 100px;">
            </div>
            <p class="card-category">Connected to</p>
            <h3 class="card-title">{{channel}}</h3>
        </div>
    </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card card-stats">
        <div class="card-header card-header-default card-header-icon">
            <p class="card-category">{{title}}</p>
            <h3 class="card-title">{{game}}</h3>
        </div>
    </div>
</div>