<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon"><i class="material-icons">weekend</i></div>
                <p class="card-category">Viewers</p>
                <h3 class="card-title">{{ payload.twitchViewers }}</h3>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-primary card-header-icon">
                <div class="card-icon"><i class="material-icons">equalizer</i></div>
                <p class="card-category">Messages</p>
                <h3 class="card-title">{{ payload.twitchMessages }}</h3>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon"><i class="material-icons">store</i></div>
                <p class="card-category">Hosts</p>
                <h3 class="card-title">{{ payload.twitchHosts }}</h3>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-danger card-header-icon">
                <div class="card-icon"><i class="material-icons">access_time</i></div>
                <p class="card-category">Streaming since</p>
                <h3 class="card-title">{{ payload.twitchSeconds }}</h3>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon"><i class="material-icons">perm_identity</i></div>
                <p class="card-category">Moderators</p>
                <h3 class="card-title">{{ payload.twitchMods }}</h3>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-primary card-header-icon">
                <div class="card-icon"><i class="material-icons">face</i></div>
                <p class="card-category">Last Viewer</p>
                <h3 class="card-title">{{ payload.twitchLastViewer }}</h3>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon"><i class="material-icons">account_box</i></div>
                <p class="card-category">Last Message</p>
                <h3 class="card-title">{{ payload.twitchLastMessage }}</h3>
            </div>
        </div>
    </div>

</div>
